h1 {
    padding: 20px;

}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url("../images/cake.png");
    background-size: 50%;
    background-repeat: no-repeat;
}

h2 {
    letter-spacing: 3px;
}


p {
    background-color: yellow;
    /* Fills the box background with yellow color */
    text-align: center;
    /* Centers the text inside the box */
    width: 500px;
    /* Sets the box content width */
    padding: 20px;
    /* Adds inner space between content and border */
    border: solid black 10px;
    /* Creates a 10px solid black border around the box */
    margin: 50px;
}



h1 {
    background-color: #ffc0cb;
    border-style: solid;
    border-color: darkred;
}

section {
    p {
        background-color: yellow;
        border-style: solid;
        border-color: green;
    }
}